*{
    margin:0px;
    padding:0px;
}
body{
    text-align: center;
    font-family: sans-serif;
}
#table{
    margin-top: 30px;
    border:2px rgb(192, 189, 189) solid;
    border-radius: 5px;
    width: 450px;
    height:450px;
    margin-left: 230px;
    margin-left: 550px;

}
#image{
    width: 200px;
}
#para{
    font-size: 20px;
    margin-top: 30px;
    margin-right: 140px;
}
#para2{
    font-size: 15px;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 80px;
    
}

#input{
    margin-top: 20px;
    margin-right: 10px;
    height: 30px;
    width: 350px;
    border-radius: 3px;
    border-width: 1px;
    box-shadow: 1px 1px 1px 1px rgb(106, 248, 246);

}
#resend{
    color:rgb(60,105,201);
    margin-top: 20px;
    margin-right: 300px ;
}
#submit{
    margin-top: 35px;
    background-color: rgb(255, 230, 6);
    font-size: 15px;
    height:35px;
    width:350px;
    margin-right: 10px;
    border-radius: 30px;
    border-width: 0px;
}
#submit a{
    text-decoration: none;
}
#verify{
    color:rgb(92, 89, 89);
    margin-top: 30px;
    font-size: 14px;
    margin-right: 240px;
}
#way{
    color:grey;
    margin-top: 5px;
    font-size:12px;
    margin-right: 100px;

}
#verify2{
    color:rgb(92, 89, 89);
    margin-top: 30px;
    font-size: 14px;
    margin-right: 280px;
}
#way2{
    color:grey;
    margin-top: 5px;
    font-size:12px;
    margin-right:30px;
    margin-left:40px;

}
u{
    color:rgb(60,105,201);
}

#line2{
    margin-top: 70px;
}
#final{
    display: flex;
    justify-content: center;
}
ul,li{
    margin-top: 15px;
    display: flex;
    padding-right: 20px;
    color:rgb(60,105,201);
    font-size: 13px;
    text-align: center;

}
#para6{
    text-align: center;
    margin-top: 10px;
    font-size: 13px;
}