
*{
    margin:0px;
    padding:0px;
}
body{
    text-align: center;
    font-family: sans-serif;
}
#table{
    margin-top: 30px;
    border:2px rgb(192, 189, 189) solid;
    border-radius: 5px;
    width: 450px;
    height:360px;
    margin-left: 230px;
    margin-left: 550px;

}
#image{
    width: 200px;
}
#para{
    font-size: 35px;
    margin-top: 30px;
    margin-right: 240px;
}
#para2{
    font-size: 13px;
    margin-top: 40px;
    margin-left: 50px;
    
}
#one{
    display: flex;
}
#parag{
    color:rgb(60,105,201);
    margin-left: 135px;
    margin-top: 40px;
}

#input{
    margin-top: 10px;
    margin-right: 10px;
    height: 30px;
    width: 350px;
    border-radius: 3px;
    border-width: 1px;
    box-shadow: 1px 1px 1px 1px rgb(106, 248, 246);

}
#submit{
    margin-top: 20px;
    font-size: 15px;
    background-color: rgb(255, 230, 6);
    height:35px;
    width:350px;
    margin-right: 10px;
    border-radius: 30px;
    border-width: 0px;
}
#submit:hover{
    cursor: pointer;
}


#line{
    margin-top: 20px;
    margin-right: 45px;
    margin-left: 45px;
    
}
#three{
    color:grey;
    text-align: center;
}
#submit2{
    margin-top: 20px;
    font-size: 15px;
    height:35px;
    width:310px;
    background-color: white;
    margin-right: 10px;
    border-radius: 30px;
    border-width: 1px;
}
#link2{
    text-decoration: none;
}

#line2{
    margin-top: 50px;
}
#final{
    display: flex;
    justify-content: center;
}
ul,li{
    margin-top: 15px;
    display: flex;
    padding-right: 20px;
    color:rgb(60,105,201);
    font-size: 13px;
    text-align: center;

}
#para6{
    text-align: center;
    margin-top: 10px;
    font-size: 13px;
}

.separator {
            display: flex;
            align-items: center;
            margin-left: 45px;
            margin-top: 10px;
            width: 80%;
        }

.separator::before,
.separator::after {
            content: "";
            flex: 1;
            height: 1px;
            background-color: #ccc;
}

.separator span {
            margin: 0 10px;
            color: #555;
            font-size: 14px;
}