*{
    margin:0px;
    padding:0px;
}
body{
    text-align: center;
    font-family: sans-serif;
}
#table{
    margin-top: 30px;
    border:2px rgb(192, 189, 189) solid;
    border-radius: 5px;
    width: 450px;
    height:380px;
    margin-left: 230px;
    margin-left: 550px;

}
#image{
    width: 200px;
}
#para{
    font-size: 25px;
    margin-top: 30px;
    margin-right: 90px;
}
#para2{
    font-size: 15px;
    margin-top: 20px;
    margin-right: 150px;
    
}

#input{
    margin-top: 10px;
    margin-right: 10px;
    height: 30px;
    width: 350px;
    border-radius: 3px;
    border-width: 1px;
    box-shadow: 1px 1px 1px 1px rgb(106, 248, 246);

}
#submit{
    margin-top: 15px;
    background-color: rgb(255, 230, 6);
    height:35px;
    width:350px;
    margin-right: 10px;
    border-radius: 30px;
    border-width: 0px;
}
#link{
    text-decoration: none;
}
#para3{
    font-size: 15px;
    margin-top: 20px;
    margin-right: 40px;
    padding-left: 20px;
   
}
.underline{
    color:rgb(60, 105, 201);
    
}
#line{
    margin-top: 15px;
    margin-left: 30px;
    margin-right: 30px;
    
}
#para4{
    font-size: 15px;
    margin-top: 20px;
    margin-right: 260px;
    
}
#para5{
    margin-top: 15px;
    margin-right: 160px;
    color:rgb(60,105,201);
}
#line2{
    margin-top: 70px;
}
#final{
    display: flex;
    justify-content: center;
}
ul,li{
    margin-top: 15px;
    display: flex;
    padding-right: 20px;
    color:rgb(60,105,201);
    font-size: 13px;
    text-align: center;

}
#para6{
    text-align: center;
    margin-top: 10px;
    font-size: 13px;
}